<section>
  <div class="user-headbar">
    <div class="user-avata">
      <img src="img/dkavata.png" alt="user-avata">
    </div>

    <div class="user-function">
      <% //var userobj = JSON.parse(user._raw)%>
      
      <h3>Welcome, <%= user.name%></h3>
      <button onclick="window.location.href='/creator/logout'">Log Out</button>
      <button><a style="color: white;" href="/creator/user/#book">Books</a> </button>
      <button><a style="color: white;" href="/creator/user/#listing">Listing</a> </button>
    </div>
  </div>

  <div class="user-book" id="book">
    <h5>Books</h5>
    <p>Ready to show off your wonderful comic!!!</p>

    <form class="upload-form">
      <fieldset>
        <div>
          <label for="bookName">Book Name:</label>
          <input type="text" name="bookName">
        </div>
        
        <div>
          <label for="chapter">Chapter: </label>
          <input type="number">
        </div>
        <div>
          <input type="file" name="file" accept="image/*">
        </div>
        <div>
          <input type="button" value="Upload">
        </div>

      </fieldset>
      <span class="err-span hidden" ></span>
    </form>

  </div>

  <div class="listing-div" id="listing">
    <h5>Listings</h5>
    <%
    if(listing != null){ %>
      <div class="item-container">
      <%for(var item of listing){ %>
        <div class="items">
          <br>
          <h3><%= item.name%></h3>
          <div class="img-listing-container">
          <%for (var img of item.imglist){
            var imgsrc = 'https://dom-upload.s3-us-west-2.amazonaws.com/' + user.sub + '/listing/' + item.name + '/' + img;
          %>
            <img src="<%= imgsrc%>" alt="item image">
          <%}%>
          </div>
        </div>
      <%}%>
    </div>  
    <%}%>
    <br>
    <p> Do you have any unused items?</p>  

  <!--  <form id="upload-listing-form" action="http://dom-buck-test.s3.amazonaws.com/" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"> -->

    <form id="uploadListingForm">
      <fieldset>
        <div>
          <label for="itemName">Item Name</label>
          <input type="text" name="itemName" required>
        </div>
        <div>
          <label for="file">Item Image</label>
          <input type="file" name="file" accept="image/*" multiple>
        </div>
        <div>
          <input type="button" onclick="UploadListing(event, '<%= user.sub%>')" value="Upload">
        </div>
      </fieldset>
      <span id="listingFormWarning" class="err-span hidden" ></span>
    </form>

  </div>
</section> 