<section class="mar-create-sec">
  <div class="page-introduction">
    <p>Are you a content creator or Do you have items that need to go? Our Market Place is where you can look for or sell your items and services.</p>
  </div>

  <div class="for-sale">
    <div class="listing-div">
      <h2>Figures/Toys</h2>
    </div>
    <div class="listing-div">
      <h2>Books</h2>
    </div>
  </div>

  <div class="for-sale">
    <div class="listing-div">
      <h2>Services</h2>
    </div>
  </div>
</section>