<div class="search-bar">
  <form onsubmit="SearchBook(event)" name='searchForm'>
    <input type="search" name='searchField'>
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>