<section id="comicSection" class="book-section">
  <h1 style="text-align: center;font-size: 3em;">
    Comming Soon !!!!
  </h1>
  <div>
    <video id="video" playsinline="" muted="" autoplay="" loop="" data-silent="true" src="https://cdn.dribbble.com/users/563824/screenshots/3633228/untitled-5.gif?vid=1">
    </video>
  </div>
  
</section>