<section id="comicSection" class="book-section">
  
<div>
<!--COMING SOON IMG ANIMATION-->  
  <img style="width: 100%;height: auto;" src="img/comingsoon.jpg" alt="coming soon image">
  <p style="text-align: center;">Art Work by: <a href="http://www.freepik.com">Rwdd_Studios / Free Pik</a></p>
</div>
  
</section>