<footer>
  <div>
    <p>About Us</p>
    <p>What about us? We are random people who love mangas, comics, fantasy stories, books and any entertaining products. Moreover, we love to share. If you like our community, buy us some beers!!</p>
    <div class="donate-link">
      <a href="https://www.paypal.me/dkgroup593" style="font-size: 1.4em;">Donate</a>
    </div>
  </div>
  <p style="font-size: 1vw;">&#169; 2020 - Domkie. All Rights Reserved.</p>
</footer>

