<div id='headBar'>
  <div id='pageTitle'>
    <h1>Domkie</h1>
  </div>

  <div id='naviLink'>
    <span><a href="/"><ion-icon name='home'></ion-icon></a></span> 
    <span><a href="/market"><ion-icon name='cart'></ion-icon></a></span> 
    <!--<span><a href='/creator'><ion-icon name='nutrition'></ion-icon></a></span>--> 
  </div>
</div>