<div id='headBar'>
  <div id='pageTitle'>
    <h1 onclick="RootLink()" style="cursor: pointer;">Domkie</h1>
  </div>

  <div id='naviLink'> 
  </div>
</div>
<div class="running-bar">
  <p>Welcome to The Land Of Dreamers. More Features Coming Soon!</p>
</div>