<section id="bodySection">

  <div id="bodyNaviLinks">
    <ul>
      <li>Mangas</li>
      <li>Comics</li>
    </ul>
  </div> <!--BODY NAVI LINKS DIV-->

  <div id="bodyPlaceHolder" style="width: 100vw;">
    <%- page%>
  </div> <!--HOMEPAGE BODY REPLACEABLE PART-->
  

</section> <!--BODY SECTION-->