<section id="bodySection">

  <div id="bodyNaviLinks">
    <ul>
      <li id="mangaLi" style="color: rgb(209, 21, 146);" onclick="BookTypeNavi(event, 'manga')">Mangas</li>
      <li id="comicLi" onclick="BookTypeNavi(event, 'comic')">Comics</li>
    </ul>
  </div> <!--BODY NAVI LINKS DIV-->

  <div id="bodyPlaceHolder" style="width: 100vw;">
    
  </div> <!--HOMEPAGE BODY REPLACEABLE PART-->
  
</section> <!--BODY SECTION-->