<section>
  <div class="selling-box">
    <h3>Ready To Sell Your Items?</h3>
    <%if (local.loggedin){%>
    <button><a href="<%= local.logurl%>">Start Selling</a></button>
    <%%>
  </div>
</section>