<!--
  THE OBJECT BOOKDATA IS ARRAY OF ITEMS
  bookdata: [
    {
      rating: { S: '4' },
      status: { S: 'Updating' },
      subtype: { S: 'manga' },
      time: { N: '1579797593' },
      name: { S: 'tensei shitara slime datta ken' },
      genre: { S: 'Action Adventure Comedy Fantasy Drama Shounen' },
      author: { S: 'Fuse' },
      type: { S: 'manga' },
      title: 'Tensei Shitara Slime Datta Ken',
      s3link: 's3bucketlink + title'
    }
  ]
-->

<% bookdata.forEach(function(book, index){ 
  var imgurl = book.s3link + 'cover.jpg'; %>
<div class="book-display">
  <img src="<%= imgurl%>">
  <p><%= book.title %></p>
</div>
<%})%>

