<!--
  THE OBJECT BOOKDATA IS ARRAY OF ITEMS
  bookdata: [
      {
        rating: { S: '4' },
        status: { S: 'Updating' },
        subtype: { S: 'manga' },
        time: { N: '1579797593' },
        name: { S: 'tensei shitara slime datta ken' },
        genre: { S: 'Action Adventure Comedy Fantasy Drama Shounen' },
        author: { S: 'Fuse' },
        type: { S: 'manga' },
        title: 'Tensei Shitara Slime Datta Ken',
        s3link: 's3bucketlink + title'
      },
      'startkey': .......(string type)

    ]
-->  

<% bookdata.forEach(function(book, index){ 
  type = book.type.S;
  subtype = book.subtype.S;
  var imgurl = book.s3link + 'cover.jpg';
%>
<div class="book-display" onclick="DisplayBook('manga', '<%= book.title%>', true)">
  <img src="<%= imgurl%>">
  <p><%= book.title %></p>
  <p><%= book.rating.S%> &#11088;</p>
</div>
<%})%>

<div style="text-align: center; width: 30px; height: 30px;">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="+2t+rl+2h-1m-4u"
        data-ad-client="ca-pub-3062165550077294"
        data-ad-slot="5109650160"></ins>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

