<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Domkie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <script data-ad-client="ca-pub-3062165550077294" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
  <!-- inject:css -->
    <link rel="stylesheet" href="/css/main-be6da0b99d.min.css">
    <!-- endinject -->
</head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%- include('./partials/headbar.ejs')%>
      <%if(typeof showBanner == 'undefined'){%>
    <%- include('./partials/creator-banner.ejs')%>
      <%}%>
    <%- page%>
    
    <br>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- long ass -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3062165550077294"
        data-ad-slot="6098038718"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <%- include('./partials/footer.ejs')%>
    <!-- inject:js -->
      <script async defer type="text/javascript" src="/js/main-c748735d59.js"></script>
      <!-- endinject -->
    <script async defer src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
  </body>
</html>