//--------->>>>>>>>>>>>> BOOKPAGE SECTION
  // OUTTER MOST WRAPPING EVERYTHING
.bookpage-section{
  width: 100vw;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
}

.bookpage-head{
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  .bookpage-img-cover{
   flex: 0 0 40vw;
   text-align: center; //using this to center image
   
   img{
     width: 40%;
     height: auto;
     margin: auto;
     display: table-cell;
     vertical-align: middle;
   }
  }
  .bookpage-detail{
    flex: 0 0 50vw;
    p{
      text-align: left;
      font-size: 1.6vw;
    }
  }
  .genre-sum-div{
    flex: 0 1 80%;
    margin: auto;
    p{
      text-align: center;
      font-size: 1.3vw;
      
    }
  }
}