@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
//--------->>>>>>>>>>>>> BOOKPAGE SECTION
  // OUTTER MOST WRAPPING EVERYTHING
.bookpage-section{
  width: 100vw;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
  scroll-snap-type: y mandatory;
}

// ------------ COVER IMAGE AND SUMMARY
.bookpage-head{
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  padding-top: 18px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 20px -12px black;
  .bookpage-img-cover{
   flex: 0 0 40vw;
   text-align: center; //using this to center image
   
   img{
     width: 40%;
     height: auto;
     margin: auto;
     display: table-cell;
     vertical-align: middle;
   }
  }
  .bookpage-detail{
    flex: 0 0 50vw;
    :first-child{
      display: inline-block;
      background-color: rgb(255, 68, 131);
      color: whitesmoke;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
      font-size: 2vw;
    }
    p{
      text-align: left;
      line-height: 3vw;
      font-family: 'Righteous', cursive;
      font-size: 1.5vw;
    }
  }
  .genre-sum-div{
    flex: 0 1 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    border-top: 1px solid rgb(181, 181, 181);
    text-align: center;
   
    :first-child{
      background-color: #2b8eff;
      color: whitesmoke;
      display: inline-block;
      border-radius: 10px;
      padding-left: 4px;
      padding-right: 4px;
      margin-top: 10px;
    }
    p{
      
      font-size: 1.3vw;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 5px;
      
    }
  }
}

//---------- CHAPTER LIST DECO
.bookpage-chaplist{
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  text-align: center;
  max-height: 50vh;
  padding-top: 10px;
  margin-bottom: 15px;
  
  p{
    border-top: 1px solid rgb(180, 178, 178);
    border-bottom: 1px solid grey;
    //display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    flex: 1 1 50%;
    cursor: pointer;
  }
}

// CHAPTER TITLE ROW
.chaptitle-clicked{
  background-color:  rgb(146, 57, 253);
  color: whitesmoke;
  border-radius: 12px;
  border: none !important;
}

//---------- CHAPTER PAGES DECO
#bookpage-chapter-content{
  width: 80vw;
  margin: auto;
  scroll-snap-align: end;
}

.chapter-pages-wrapper{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

// LIST OF IMAGES OF CHAPTER
.bookpage-chapter-page{
  width: 100%;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  max-height: 80vh;
  text-align: center;
  box-shadow: 0 0 30px -10px grey;
}
// TITLE OF DISPLAY CHAPTER
.chaptitle-decor{
  display: inline-block;
  background-color: rgb(255, 45, 167);
  color: whitesmoke;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
}
// BUTT NAVI DIV
.bookpage-chapbutt-navi{
  width: 100%;
}
// CHAP BUTT NAVI
.chapbutt-navi{
  margin-right: 12px;
  margin-bottom: 10px;
  display: inline-block;
  @extend %gene-button;
}
