@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@mixin listyle{
  text-decoration: none;
  text-align: left;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  list-style-type: none;
}
#bodySection{
  width: 100vw;
  margin: auto;
}

#bodyRenderSection{
  min-height: 85vh;
}

#bodyNaviLinks{
  
  ul li{
    font-size: 4vw;
    font-family: 'Paytone One', sans-serif ;
    @include listyle;

  }
}

// THE OUTEST ELEMENT THAT WRAP EVERYHING ---> WIDTH 100VW;
// ------>>>>>>>> HOMEPAGE BOOK SECTION
.book-section{
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  .div-title{
    align-self: flex-start;
    width: 95vw;
    margin: auto;
    text-align: left;
    padding-top: 3vw;
    font-size: 1.5vw;
    font-weight: 600;
    border-bottom: 1px solid rgb(0, 3, 8);
    color: rgb(0, 0, 0);
  }
}

#bookSectionCoverImg{
  height: 50vw;
  width: 100vw;
  overflow: hidden;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.new-coming{
  flex: 1;
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow-x: auto;
  
  .new-book-div{
    flex: 0 0 auto;
    max-width: 60vw;
    min-width: 35vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 2vw;
    cursor: pointer;
    .new-book-img{
      flex: 0 0 15vw;
      text-align: center;
      img{
        width: 80%;
        height: 15vw;
        display:table-cell;
        vertical-align: middle;
        
      }
    }
    .new-book-info{
      flex: 1 1 auto;
      padding: 2vw;
      max-width: 60%;
      //max-height: 20vh;
      overflow-y: auto;
      p{
        font-size: 0.7em;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
      }

    }

  }
}

.featured-book{
  @extend .new-coming;
  margin-bottom: 10px;
  .featured-book-div{
    flex: 0 0 22vw;
    max-width: 35vw;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    cursor: pointer;
    .featured-img{
      width: 22vw;
      
      text-align: center;
      img{
        width: 50%;
        height: 14vw;
        margin: auto;
        display: table-cell;
        vertical-align: middle;
      }
    }
    .featured-info{
      width: 100%;
      
      p{
        text-align: center;
        font-size: 1.4vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }     
    }
  }
}

@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.spinLoading{
  border: 10px solid #f5f5f5;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  margin:auto;
  animation: spin 2s linear infinite;
}

/* ;;;;;;;;;;  >>>>>> BOOK NAVIGATION*/
.mangaListing {
  width: 100vw;
  margin: auto;
}

.book-navigation{
  width: 95%;
  margin: auto;
  ul {
    padding-top: 5px;
    padding-bottom: 5px;
    li{
    @include listyle;
    font-family: 'Righteous', cursive;
    font-size: 1em;
  }
  }
}

.search-bar{
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  form{
    width: 90%;
    margin: auto;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    //general style is in main.css for input[type='search']
    input[type='search']{
      margin: auto;
      flex: 1 1 85%;
      margin-left: 8px;
      margin-right: 8px;
    }
    button{
      
      flex: 1 1 auto;
      @extend %gene-button;
      padding: 0 !important;
      background-color: rgb(3, 66, 85) !important;
    }
  }
}


.book-genre-navi{
  width: 95%;
  ul{
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
    li{
      @include listyle;
      font-size: 1.2vw;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-top: 2px;
      font-weight: 550;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
    }
  }
}

// ----- >>>> BOOK DISPLAY SSECTION
#bookArea{
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.book-display-wrapper{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-bottom: 18px;
}

.book-display{
  flex: 1 0 15vw;
  //max-width: 22vw;
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  cursor: pointer;
  
  img{
    height: 14vw;
    width: auto;
    margin:auto;
  }
  p{
    flex: 1;
    font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    
  }
}

.book-display-loadmore-button{
  button{
    @extend %gene-button;
    background-color: rgb(18, 184, 114);
  }
}

.loadmore-button{
  @extend %gene-button;
  background-color: rgb(18, 184, 114);
}

#genreDiv{
  @extend .book-display-wrapper;
}

/* LOADING SPIN DECO*/
#rootLoading{
  width: 50vw;
  height: 40vh;
  margin: auto;
}

.preloader {
  color:#ffffff;
  width:100px;
  height:100px;
  margin: auto;
  opacity:1;
  margin-top: 10%;
  display: block;
  background:#ea4545;
  -webkit-animation: preloader 1.5s ease-in-out infinite alternate;
  animation: preloader 1.5s ease-in-out infinite alternate;
}
@keyframes preloader {
  from {transform: rotate(0deg) scale(1,1);border-radius:0px; }
  50%{
    background: rgb(152, 81, 238);
  }
  to {transform: rotate(720deg) scale(0.5, 0.5);
    border-radius:50px;
    background: rgb(1, 152, 1);
  }
}
@-webkit-keyframes preloader {
  from {-webkit-transform: rotate(0deg) scale(1, 1);border-radius:0px;
    }
  50%{
    background: rgb(152, 81, 238);
  }
  to {-webkit-transform: rotate(720deg) scale(0.5, 0.5);border-radius:50px;
    background: rgb(1, 152, 1);}
}

/*
  ------ DEFINING RULE BASED ON SCREEN SIZE 
*/
@media screen and (max-width: 768px) and (orientation:portrait){
  li, p{
    font-size: 1.2em !important;
  }
  #headBar{
    #pageTitle{
      h1{
        font-size: 3em;
      }
    }
  }

  #bodyNaviLinks ul li{
    font-size: 2.1em !important;
  }

  .div-title{
    font-size: 1.9em !important;
  }
  .new-coming .new-book-div{
    max-width: 80vw !important;
    width: 80vw !important;
    padding-top: 1em;
    padding-bottom: 1em;
    .new-book-img{
      flex: 1 !important;
      img{
        width: 90%;
        height: 120px;
      }
    }
    .new-book-info{
      p{
        font-size: 1.4em !important;
      }
    }
  }
  .featured-book-div{
    flex: 1 0 auto!important;
    .featured-img{
      width: 40vw !important;
      img{
        height: 140px !important;
        width: 83% !important;
      };
    }
    .featured-info{
      p{
        font-size: 1.2em !important;
      }
    }
  }

  .book-navigation ul li{
    font-size: 1.4em !important;
  }

  .book-display{
    flex: 1 0 25vw !important;
    img{
      height: 100px !important;
      width: auto !important;
    }
  }
}