@import './stock';
@import './homepage';
@import './footer';
@import './bookpage';
@import './market-creator';
//----------
  // head bar decoration
//-----------
#headBar {
  width: 100%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: flex-start;
  background-color: rgb(0, 28, 54);
  color: rgb(250, 208, 144);
}

#pageTitle{
  margin-left: 20px;
  flex: 1;
  @extend %noselect;
}

#naviLink{
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-end;
  span{
    cursor: pointer;
    a{
      color: rgb(250, 208, 144);
    }
  }
}


input[type=search]{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search-bar input[type=search]{
  width: 70%;
}

//-----*****-------

/*
  book search decoration area
*/
.search-result{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  overflow: auto;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 25px;
}

.book-search-display{
  flex: 1;
  height: 35vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 25px;
  cursor: pointer;
  img{
    height: 100%;
    width: auto;
  } 
  div{
    flex: 1;
    height: 100%;
    margin-left: 10px; 
    p{
      font-size: 1vw;
      letter-spacing: 2px;
    }
  }
}
.book-search-display::-webkit-scrollbar{
  width: 5px;
}
.book-search-display::-webkit-scrollbar-thumb{
  background: brown;
}
//-----*******------
.load-button{
  @extend %button-decor;
  padding: 0.5%;
  background-color: rgb(1, 25, 53);
  color: rgb(253, 203, 174);
  margin-left: 1%;
  margin-right: 1%;
}

button:disabled{
  @extend %button-decor;
  cursor: not-allowed;
  color: beige;
  padding: 0.2%;
  margin: auto;
}

//----***STYLING SCROLLBAR IN GENERAL**-------
*{
  //for firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(78, 70, 91, 0.784) transparent;
  scrollbar-track-color: transparent;
  //for webkit base browser
  ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgba(78, 70, 91, 0.784);
  }
}

//------*******SUPPRESSING THE RING OR TOUCH EFFECT ON CLICKED ELEMENT ----------
button{
  :focus{
    outline: 0;
  }
  -webkit-tap-highlight-color: transparent;

}
