@import './stock';
@import './homepage';
@import './footer';
@import './bookpage';
@import './market-creator';

//----------
  // head bar decoration
//-----------
#headBar {
  width: 100%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
  background-color: $main-color; //rgb(0, 28, 54);
  color: rgb(253, 202, 130);
}

#pageTitle{
  margin-left: 20px;
  flex: 1;
  @extend %noselect;
  h1{
    display: table-cell;
    vertical-align: middle;
  }
  h1 a{
    color: rgb(253, 202, 130);
    display: table-cell;
    vertical-align: middle;

  }
}

#naviLink{
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-end;
  span{
    cursor: pointer;
    a{
      color: rgb(250, 208, 144);
    }
  }
}
@keyframes moving-bar{
  0%{
    left: 105vw;
  }
  50%{
    left:35vw;
    color: $manga-color;
  }
  100%{
    left: 0px;
  }
}
.running-bar{
  width: 100%;
  background-color: rgba(187, 185, 185, 0.335);
  p{
    display: table-cell;
    vertical-align: middle;
    color: $genlink-color;
    text-align: center;
    position: relative;
    font-size: 1.3vw;
    font-weight: 550;
    animation-name: moving-bar;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.5, 0.5 ,1.0);
    animation-iteration-count: infinite;
  }
}
// END HEADBAR DECORATING

/* --- GENERAL STYLING */
input[type=search]{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

button:disabled{
  @extend %button-decor;
  cursor: not-allowed;
  color: rgb(82, 82, 81);
  padding: 0.2%;
  margin: auto;
  margin-right: 8px;
  margin-left: 8px;
}

button{
  :focus{
    outline: 0;
  }
  -webkit-tap-highlight-color: transparent;

}

/* FOOTER DECORATION*/
footer{
  .donate-link {
    a{
      background-color:#2ac854;
      border-radius:10px;
      //border:1px solid #18ab29;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      margin-top: 5px;
      font-family:Arial;
      font-size:1vw;
      padding:6px 13px;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
    }
    a:hover{
      background-color:#28a822;
    }
  }
}

//----***STYLING SCROLLBAR IN GENERAL**-------
*{
  //for firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(78, 70, 91, 0.784) transparent;
  scrollbar-track-color: transparent;
  //for webkit base browser
  ::-webkit-scrollbar{
    width: 8px;
    height: 6px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: rgba(78, 70, 91, 0.784);
  }
}

//------*******SUPPRESSING THE RING OR TOUCH EFFECT ON CLICKED ELEMENT ----------
