@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
.chapbutt-navi, .user-headbar .user-function button, .load-button, button:disabled {
  margin: auto;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.chapbutt-navi, .user-headbar .user-function button {
  background-color: #3f9b62;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  color: whitesmoke;
}

.err-span {
  color: brown;
  text-align: center;
  font-size: 0.6em;
  margin: auto;
  display: block;
}

.hidden {
  display: none !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden;
}

* {
  line-height: 1.6em;
  font-size: 2vw;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Montserrat' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

#pageTitle {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.nodisplay {
  visibility: hidden;
  display: none;
}

.show {
  display: block;
  visibility: visible;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #535353;
  font-size: 1.03em;
}

li {
  text-decoration: none;
  text-align: center;
}

input, textarea, input:hover, textarea:hover {
  outline: none;
  margin: auto;
  background: none;
}

@-webkit-keyframes noautofillbg {
  from {
    background-color: beige;
  }
  to {
    background: transparent;
    background-color: white;
  }
}

@keyframes noautofillbg {
  from {
    background-color: beige;
  }
  to {
    background: transparent;
    background-color: white;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: noautofillbg;
          animation-name: noautofillbg;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#bodySection {
  width: 100vw;
  margin: auto;
}

#bodyNaviLinks ul li {
  font-size: 4vw;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  list-style-type: none;
}

.book-section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.book-section .div-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 95vw;
  margin: auto;
  text-align: left;
  padding-top: 3vw;
  font-size: 1.5vw;
  font-weight: 600;
  border-bottom: 1px solid #000308;
  color: black;
}

.new-coming, .featured-book {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-x: auto;
}

.new-coming .new-book-div, .featured-book .new-book-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 60vw;
  min-width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-left: 2vw;
  cursor: pointer;
}

.new-coming .new-book-div .new-book-img, .featured-book .new-book-div .new-book-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15vw;
          flex: 0 0 15vw;
  text-align: center;
}

.new-coming .new-book-div .new-book-img img, .featured-book .new-book-div .new-book-img img {
  width: 80%;
  height: 15vw;
  display: table-cell;
  vertical-align: middle;
}

.new-coming .new-book-div .new-book-info, .featured-book .new-book-div .new-book-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2vw;
  max-width: 60%;
  overflow-y: auto;
}

.new-coming .new-book-div .new-book-info p, .featured-book .new-book-div .new-book-info p {
  font-size: 0.7em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
}

.featured-book {
  margin-bottom: 10px;
}

.featured-book .featured-book-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22vw;
          flex: 0 0 22vw;
  max-width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.featured-book .featured-book-div .featured-img {
  width: 22vw;
  text-align: center;
}

.featured-book .featured-book-div .featured-img img {
  width: 50%;
  height: 14vw;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.featured-book .featured-book-div .featured-info {
  width: 100%;
}

.featured-book .featured-book-div .featured-info p {
  text-align: center;
  font-size: 1.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinLoading {
  border: 10px solid #f5f5f5;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.mangaListing {
  width: 100vw;
  margin: auto;
}

.book-navigation {
  width: 95%;
  margin: auto;
}

.book-navigation ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

.book-navigation ul li {
  text-decoration: none;
  text-align: left;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  list-style-type: none;
  font-family: 'Righteous', cursive;
  font-size: 1.3em;
}

#bookArea {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-display {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15vw;
          flex: 1 0 15vw;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.book-display img {
  height: 14vw;
  width: auto;
  margin: auto;
}

.book-display p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.1vw;
  font-weight: bold;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
}

footer {
  background-color: #414040;
  color: white;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer div {
  width: 60%;
  margin: auto;
}

footer div p {
  text-align: center;
  margin: auto;
  font-size: 1.1vw;
}

@media all and (max-device-width: 1280px) {
  footer div {
    width: 90% !important;
  }
  footer p {
    font-size: 1.5vw !important;
  }
}

.bookpage-section {
  width: 100vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.bookpage-head {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  margin-bottom: 12px;
  -webkit-box-shadow: 0px 0px 20px -12px black;
          box-shadow: 0px 0px 20px -12px black;
}

.bookpage-head .bookpage-img-cover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40vw;
          flex: 0 0 40vw;
  text-align: center;
}

.bookpage-head .bookpage-img-cover img {
  width: 40%;
  height: auto;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.bookpage-head .bookpage-detail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50vw;
          flex: 0 0 50vw;
}

.bookpage-head .bookpage-detail :first-child {
  display: inline-block;
  background-color: #ff4483;
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 2vw;
}

.bookpage-head .bookpage-detail p {
  text-align: left;
  line-height: 3vw;
  font-family: 'Righteous', cursive;
  font-size: 1.5vw;
}

.bookpage-head .genre-sum-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  border-top: 1px solid #b5b5b5;
  text-align: center;
}

.bookpage-head .genre-sum-div :first-child {
  background-color: #2b8eff;
  color: whitesmoke;
  display: inline-block;
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 10px;
}

.bookpage-head .genre-sum-div p {
  font-size: 1.3vw;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bookpage-chaplist {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 50vh;
  padding-top: 10px;
  margin-bottom: 15px;
}

.bookpage-chaplist p {
  border-top: 1px solid #b4b2b2;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  cursor: pointer;
}

.chaptitle-clicked {
  background-color: #9239fd;
  color: whitesmoke;
  border-radius: 12px;
  border: none !important;
}

#bookpage-chapter-content {
  width: 80vw;
  margin: auto;
  scroll-snap-align: end;
}

.chapter-pages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bookpage-chapter-page {
  width: 100%;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  max-height: 80vh;
  text-align: center;
  -webkit-box-shadow: 0 0 30px -10px grey;
          box-shadow: 0 0 30px -10px grey;
}

.chaptitle-decor {
  display: inline-block;
  background-color: #ff2da7;
  color: whitesmoke;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.bookpage-chapbutt-navi {
  width: 100%;
}

.chapbutt-navi {
  margin-right: 12px;
  margin-bottom: 10px;
  display: inline-block;
}

.mar-create-sec {
  max-height: 30vw;
}

.page-introduction {
  text-align: center;
  margin: auto;
  width: 100vw;
  margin-bottom: 20px;
}

.page-introduction .creator-banner {
  width: 90vw;
  height: 20vw;
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.page-introduction div {
  width: 90%;
  margin: auto;
}

.page-introduction div p {
  display: inline-block;
  clear: both;
  padding: 10px;
  margin-top: 20px;
  /* border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; */
}

.page-introduction button {
  background-color: #0649db;
  outline: none;
  border: none;
  padding: 5px;
  margin-top: 10px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.for-sale {
  width: 90vw;
  margin-top: 20px;
  margin: auto;
}

.user-book, .listing-div {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.user-book h1, .user-book h2, .user-book h3, .user-book h4, .user-book h5, .listing-div h1, .listing-div h2, .listing-div h3, .listing-div h4, .listing-div h5 {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.user-book h5, .listing-div h5 {
  max-width: 10vw;
  background-color: slateblue;
  display: inline-block;
  text-align: center;
  color: whitesmoke;
}

.user-book p, .listing-div p {
  padding-bottom: 10px;
  width: 90%;
  margin: auto;
}

.listing-div {
  width: 100%;
  -webkit-box-shadow: 0px -1px 10px black;
          box-shadow: 0px -1px 10px black;
}

.form-group {
  width: 90vw;
  margin: auto;
  display: none;
  visibility: hidden;
}

.form-group form {
  margin: auto;
  margin-top: 5vh;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
  padding: 20px;
}

.form-group form label {
  display: block;
  margin: auto;
  margin-top: 5px;
}

.form-group form input {
  border-style: none;
  border-bottom: solid 1px black;
  width: 90%;
  display: block;
  margin-left: 0;
}

.form-group form input[type=button] {
  border-style: none;
  background-color: #36d1a2;
  margin: auto;
  margin-top: 30px;
  color: white;
  width: 20%;
  -webkit-box-shadow: 5px 5px 8px -6px black;
          box-shadow: 5px 5px 8px -6px black;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.user-headbar {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 5px 10px gray;
          box-shadow: 0px 5px 10px gray;
}

.user-headbar .user-avata {
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.user-headbar .user-avata img {
  width: 90%;
  height: auto;
}

.user-headbar .user-function {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.user-headbar .user-function button {
  margin: 10px;
}

.user-headbar .user-function button {
  transition: background-color .8s ease-in-out;
  -webkit-transition: background-color .8s ease-in-out;
  -moz-transition: background-color .8s ease-in-out;
  -ms-transition: background-color .8s ease-in-out;
  -o-transition: background-color .8s ease-in-out;
}

.user-headbar .user-function button:hover {
  background-color: #bd253e;
}

#uploadListingForm, .upload-form {
  padding: 3%;
}

#uploadListingForm div, .upload-form div {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 3%;
}

#uploadListingForm label, .upload-form label {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 1%;
}

#uploadListingForm input, .upload-form input {
  display: block;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  line-height: 1em;
  margin: auto;
}

#uploadListingForm input[type=file], .upload-form input[type=file] {
  border-bottom: none;
}

#uploadListingForm input[type=button], .upload-form input[type=button] {
  color: white;
  margin: auto;
  padding: 0.3%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #2d8ebb;
}

#uploadListingForm input[type=button]:hover, .upload-form input[type=button]:hover {
  background-color: #12719c;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}

#uploadListingForm textarea, .upload-form textarea {
  outline: none;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 1px solid black;
  display: block;
}

#uploadListingForm textarea, #uploadListingForm input, .upload-form textarea, .upload-form input {
  text-align: center;
}

#listing {
  width: 100vw;
  padding-top: 10px;
}

.item-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-container div {
  width: 100%;
}

.item-container .items {
  width: 90%;
  height: auto;
  margin: auto;
}

.item-container .items h3 {
  text-align: center;
}

.button-group {
  max-width: 50vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-bottom: 0.5vw;
  padding-top: 0.5vw;
}

.button-group button {
  color: white;
  margin: auto;
  padding: 0.3%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #48eb79;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 20vw;
}

.delete-butt {
  background-color: #f05382 !important;
}

.img-listing-container {
  max-width: 70%;
  margin: auto;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(202, 202, 202, 0.212);
}

.img-listing-container img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 12vw;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-left: 1%;
  padding-right: 1%;
}

.item-description {
  width: 80%;
  margin: auto;
}

.item-description p {
  font-size: 0.9em;
  text-align: center;
}

#headBar {
  width: 100%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #001c36;
  color: #fad090;
}

#pageTitle {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#naviLink {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#naviLink span {
  cursor: pointer;
}

#naviLink span a {
  color: #fad090;
}

input[type=search] {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search-bar input[type=search] {
  width: 70%;
}

/*
  book search decoration area
*/
.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 25px;
}

.book-search-display {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  margin-right: 25px;
  cursor: pointer;
}

.book-search-display img {
  height: 100%;
  width: auto;
}

.book-search-display div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  margin-left: 10px;
}

.book-search-display div p {
  font-size: 1vw;
  letter-spacing: 2px;
}

.book-search-display::-webkit-scrollbar {
  width: 5px;
}

.book-search-display::-webkit-scrollbar-thumb {
  background: brown;
}

.load-button {
  padding: 0.5%;
  background-color: #011935;
  color: #fdcbae;
  margin-left: 1%;
  margin-right: 1%;
}

button:disabled {
  cursor: not-allowed;
  color: #525251;
  padding: 0.2%;
  margin: auto;
  margin-right: 8px;
  margin-left: 8px;
}

button {
  -webkit-tap-highlight-color: transparent;
}

button :focus {
  outline: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(78, 70, 91, 0.784) transparent;
  scrollbar-track-color: transparent;
}

* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

* ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(78, 70, 91, 0.784);
}
/*# sourceMappingURL=main.css.map */